// font
$vp-font: '"Maple Mono NF CN", Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$vp-font-heading: '"MaokenZhuyuanTi"';
$vp-font-mono: '"Maple Mono NF CN"';